<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{! Favicons }}
    <link rel="apple-touch-icon" sizes="57x57" href="/content/images/favicons/apple-touch-icon-57x57.png?v=1">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/images/favicons/apple-touch-icon-114x114.png?v=1">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/images/favicons/apple-touch-icon-72x72.png?v=1">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/images/favicons/apple-touch-icon-144x144.png?v=1">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/images/favicons/apple-touch-icon-60x60.png?v=1">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/images/favicons/apple-touch-icon-120x120.png?v=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/images/favicons/apple-touch-icon-76x76.png?v=1">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/images/favicons/apple-touch-icon-152x152.png?v=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/images/favicons/apple-touch-icon-180x180.png?v=1">
    <link rel="icon" type="image/png" href="/content/images/favicons/favicon-192x192.png?v=1" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/images/favicons/favicon-160x160.png?v=1" sizes="160x160">
    <link rel="icon" type="image/png" href="/content/images/favicons/favicon-96x96.png?v=1" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/images/favicons/favicon-16x16.png?v=1" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/images/favicons/favicon-32x32.png?v=1" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/content/images/favicons/mstile-144x144.png?v=1">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55007085-1', 'auto');
      ga('send', 'pageview');
    </script>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Technical }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'steveadams'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

</body>
</html>
