{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="pattern-overlay subdued"></div>
    <div class="parallax" style="opacity: 1;">
        <h1 class="post-title">{{title}}</h1>
        <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
            <nav class="main-nav overlay clearfix">
                {{#if @blog.logo}}
                    <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
                {{else}}
                    <a class="back-button" href="{{@blog.url}}/rss">Home</a>
                {{/if}}
                <a class="subscribe-button rss" href="{{@blog.url}}/rss"><i class="icon-rss"></i> <span class="subscription-context">Subscribe</span></a>
            </nav>
        </nav>
    </div>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
{{/post}}
