{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header tag-head {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="pattern-overlay subdued"></div>
    <div class="parallax" style="opacity: 1;">
        <nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}
                <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
            {{else}}
                <a class="back-button" href="{{@blog.url}}/rss">Home</a>
            {{/if}}
            <a class="subscribe-button rss" href="{{@blog.url}}/tag/{{tag.slug}}/rss/"><i class="icon-rss"></i> <span class="subscription-context">{{tag.name}}</span></a>
        </nav>
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">A {{pagination.total}}-post collection</h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
